In [ ]:
#this code adds crew number to the .csv file. 
#use dates to assign crew number to rows falling between those dates. 

#algorythm:
# import crew_date.csv; keep only season 17-19 
#import s17-19 reports
# convert date columns  into comparable dates 
#check if report is published between these dates (inclusive of both ends), if yes --> assign crew number accordingly

In [2]:
import pandas as pd
import numpy as np

In [3]:
#import s17-19 reports and crew-dates file 
rep = pd.read_csv('s17-19_nocrew.csv')
crew_dates = pd.read_csv('crew_dates.csv')

In [4]:
reports = rep.drop(columns = ["Unnamed: 0"])
crew_dates_1719 = crew_dates.query('season ==17 or season == 18 or season == 19')

In [6]:
len(reports)

2557

In [ ]:
reports.iloc[0]

In [ ]:
#testing code with smaller df. Selecting random 100 rows. 
t_reports = reports.sample(n = 100)

In [ ]:
#convert date colums into date objects

crew_dates['started'] = pd.to_datetime(crew_dates.started)
crew_dates['ended'] = pd.to_datetime(crew_dates.ended)
reports['date'] =pd.to_datetime(reports.date)

In [ ]:
reports.date

In [ ]:
len(crew_dates_1719), len(crew_dates)

In [ ]:
t_reports['crew'] = []

In [ ]:
crews = []


for index, row in t_reports.iterrows():
    for index, crow in crew_dates_1719.iterrows():
        if row['date'] > crow['started'] and row['date'] < crow['ended']:
            print(row['date'], crow['crew'])
            crews.append(crow['crew'])
print (crews)


t_reports['crews'] = crews

In [ ]:
t_reports['crews'] = crews

In [ ]:
print(t_reports['crews'], t_reports['date'])

In [ ]:
#try with full reports df

In [ ]:
print(reports.date)

In [ ]:
crew_number = []
found = False 


for index, row in reports.iterrows():
    print (index)
    for index, crow in crew_dates_1719.iterrows():
        if row['date'] > crow['started'] and row['date'] < crow['ended']:
            found = True
            n = crow['crew']
            break
    if found:    
        crew_number.append(n)
    else:
        crew_number.append('None')
           

reports['crew'] = crew_number

In [1]:
#problem: some reports are out of bounds even for these. 74 reports are not between these dates. 




len(crew_number), len(reports), len(crew_dates_1719)

NameError: name 'crew_number' is not defined

In [ ]:
reports.crew[45:99]

In [ ]:
#write to csv
reports.to_csv('s17-19_reports.csv')